.main
{
   width: 15vw;
   padding: 1em;
   margin: auto;
   text-align: center;
   border: 3px solid black;
   border-radius: 10px;
   background-color: lightskyblue;
}

#output
{
height: 2em;
border: 2px solid black;
border-radius: 10px;
margin: 5px auto;
padding: auto;
background-color: beige;
}

button
{
    height:6vh;
    width: 6vh;
    margin: 1px;
    font-size:18px;    
}

#input
{
    width:11vw;
}

#result
{
    width:6vw;
    background-color: violet;
}